@import '../../styles/mixins';

.daily-schedule {
  display: flex;

  margin-bottom: 4.8em;
  &:last-child {
    margin-bottom: 1.2em;
  }

  width: 100%;

  &__day {
    height: 100%;
    position: sticky;

    top: 10px;
    left: 0;
    z-index: 1;

    padding-right: 1.1em;
    margin-right: 3.38em;

    text-align: center;

    border-right: 3px solid var(--color-day-border);
  }

  &__day-of-week, &__week-type {
    display: block;

    @include adaptive-font(s);
    color: var(--color-light-text);
  }

  &__day-of-week {
    line-height: 1.2em;
  }

  &__week-type {
    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }

    &::before, &::after {
      font-weight: 300;
    }
  }

  &__date {
    @include adaptive-font(l);
  }

  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }
}

@media (max-width: 1300px) {
  .daily-schedule {
    &__day {
      margin-right: 1.5em;
      padding-right: 0.1em;
    }
  }
}

@media (max-width: 1140px) {
  .daily-schedule {
    flex-direction: column;

    &__date {
      margin-top: 1px;
    }

    &__day {
      margin-bottom: 1.2em;

      width: 100vw;
      margin-left: calc(-50vw + 50%);

      text-align: left;
      border-right: none;

      padding: 0.6em 30px 0;

      top: 0;
      background-color: var(--color-main-background);

      &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        padding-bottom: 0.6em;

        border-bottom: 2px solid var(--color-day-border);
      }
    }

    &__day-of-week, &__week-type {
      font-size: 1.2em;
      margin-right: 0.5em;
    }

    &__day-of-week, &__week-type, &__date {
      line-height: 1em;
    }
  }
}

@media (max-width: 767.98px) {
  .daily-schedule {
    margin-bottom: 3.5em;
    &:last-child {
      margin-bottom: 0.65em;
    }

    &__day {
      margin-bottom: 0.7em;
    }

    &__list {
      display: block;
      li:not(:last-child) {
        margin-bottom: 0.65em;
      }
    }

    &__week-type {
      &::before, &::after {
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .daily-schedule {
    &__day {
      padding: 0.6em 12px 0;
    }
  }
}