:root {
  @media (prefers-color-scheme: dark) {
    --color-day-border: #7c7f91;
    --color-light-text: #c1c4d2;
    --color-class-info: #e0e0e0;
    --color-search-form-border: #33374b;

    --color-main-background: #212435;
    --color-main-text: #edf2f6;
    --color-button-text: #f1e9e9;

    --color-main-extra-light: #7b93fd;
    --color-main-light: #4C6FFF;
    --color-main-dark: #2041C8;

    --color-error: #e84e5f;

    --color-practice-background: rgba(155, 100, 245, 0.35);
    --color-practice-accent: rgb(181, 140, 248);
    --color-practice-shadow: rgba(163, 151, 215, 0.6);

    --color-lecture-background: rgba(58, 128, 225, 0.45);
    --color-lecture-accent: rgb(152, 189, 245);
    --color-lecture-shadow: rgba(143, 170, 218, 0.5);

    --color-laboratory-work-background: rgba(42, 218, 115, 0.35);
    --color-laboratory-work-accent: rgb(105, 210, 148);
    --color-laboratory-work-shadow: rgba(150, 208, 155, 0.5);

    --color-another-background: rgba(187, 137, 55, 0.7);
    --color-another-accent: rgb(243, 194, 116);
    --color-another-shadow: rgba(248, 168, 10, 0.5);

    --color-going-class-pulse: rgba(211, 196, 196, 0);

    --color-shadow: rgba(152, 151, 151, 0.14);
  }
}