@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

h2 {
  font-size: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-day-border: #C4C4C4;
    --color-light-text: #AEAEAE;
    --color-class-info: #717171;
    --color-search-form-border: rgba(180, 180, 180, 0.27);
    --color-main-background: #fff;
    --color-button-text: #f1e9e9;
    --color-main-extra-light: #6281FF;
    --color-main-light: #4C6FFF;
    --color-main-dark: #2041C8;
    --color-error: #e83256;
    --color-practice-background: #f6e7fd;
    --color-practice-accent: #dc6bf3;
    --color-practice-shadow: rgba(220, 107, 243, 0.6);
    --color-lecture-background: #E3E8FC;
    --color-lecture-accent: #6181e0;
    --color-lecture-shadow: rgba(97, 129, 224, 0.5);
    --color-laboratory-work-background: #d6f3e4;
    --color-laboratory-work-accent: #56af8f;
    --color-laboratory-work-shadow: rgba(86, 175, 143, 0.5);
    --color-another-background: #F7EDDA;
    --color-another-accent: #C08D28;
    --color-another-shadow: rgba(192, 141, 40, 0.5);
    --color-going-class-pulse: rgba(211, 196, 196, 0);
    --color-shadow: rgba(120, 118, 118, 0.14);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-day-border: #C4C4C4;
    --color-light-text: #bbbaba;
    --color-class-info: #d5d4d4;
    --color-search-form-border: rgba(255, 255, 255, 0.40);
    --color-main-background: #202124;
    --color-main-text: #f3f1f1;
    --color-button-text: #f1e9e9;
    --color-main-extra-light: #6281FF;
    --color-main-light: #4C6FFF;
    --color-main-dark: #2041C8;
    --color-error: #c94552;
    --color-practice-background: rgba(155, 100, 245, 0.3);
    --color-practice-accent: rgb(164, 119, 236);
    --color-practice-shadow: rgba(163, 151, 215, 0.6);
    --color-lecture-background: rgba(58, 128, 225, 0.45);
    --color-lecture-accent: rgb(139, 179, 238);
    --color-lecture-shadow: rgba(143, 170, 218, 0.5);
    --color-laboratory-work-background: rgba(42, 218, 115, 0.3);
    --color-laboratory-work-accent: rgb(98, 190, 135);
    --color-laboratory-work-shadow: rgba(150, 208, 155, 0.5);
    --color-another-background: #F7EDDA;
    --color-another-accent: #C08D28;
    --color-another-shadow: rgba(192, 141, 40, 0.5);
    --color-going-class-pulse: rgba(211, 196, 196, 0);
    --color-shadow: rgba(152, 151, 151, 0.14);
  }
}

:root {
  font-family: "Be Vietnam Pro", sans-serif;
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-main-background);
  color: var(--color-main-text);
}

.container {
  max-width: 1210px;
  padding: 0 30px;
  margin: 0 auto;
}

.blue-button {
  color: var(--color-button-text);
  box-shadow: 0 4px 19px var(--color-shadow);
  background: var(--color-main-light);
  transition: background-color var(--animation-duration);
}
.blue-button:hover {
  background-color: var(--color-main-dark);
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 12px;
  }

  .blue-button:hover {
    background: var(--color-main-light);
  }
}
.schedule-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=index.css.map */
