//----------------------- null style -----------------------

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,*::before,*::after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer; background-color: transparent;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a{color: #000}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;width: 100%;}
h2 {font-size: 1em}

//----------------------- custom general styles -----------------------

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;900&display=swap');
@import '_fonts';
@import '_light-theme';
@import '_dark-theme';

:root {
  font-family: 'Be Vietnam Pro', sans-serif;
  --animation-duration: 300ms;
}

body {
  background-color: var(--color-main-background);
  color: var(--color-main-text);
}

.container {
  max-width: 1210px;
  padding: 0 30px;
  margin: 0 auto;
}

.blue-button {
  color: var(--color-button-text);
  box-shadow: 0 4px 19px var(--color-shadow);
  background: var(--color-main-light);

  transition: background-color var(--animation-duration);

  &:hover {
    background-color: var(--color-main-dark);
  }
}

@media (max-width: 575.98px) {
  .container {
    padding: 0 12px;
  }

  .blue-button {
    &:hover {
      background: var(--color-main-light);
    }
  }
}

//----------------------- page styles -----------------------

.schedule-page {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
