@import "../../styles/mixins";


.daily-schedule-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 480px;

  padding: 1.5em 3.27em;

  border-radius: 27px;

  &__row {
    &:first-child {
      margin-bottom: 1.48em;
    }
  }

  &__subject {
    @include adaptive-font(l);
  }

  &__info {
    display: flex;
    margin-bottom: 0.8em;
  }

  &__time, &__auditorium, &__teacher {
    display: flex;
    align-items: center;

    @include adaptive-font(xs);
    font-weight: 400;

    color: var(--color-class-info);

    svg {
      margin-right: 7px;
    }
  }

  &__auditorium {
    svg {
      margin-bottom: 2px;
    }
  }

  &__time, &__teacher {
    svg {
      margin-bottom: 1px;
    }
  }

  &__time {
    margin-right: 1.48em;
  }

  &_laboratory-work {
    background-color: var(--color-laboratory-work-background);
    .daily-schedule-item__type {
      color: var(--color-laboratory-work-accent);
    }
  }

  &_practice {
    background-color: var(--color-practice-background);
    .daily-schedule-item__type {
      color: var(--color-practice-accent);
    }
  }

  &_lecture {
    background-color: var(--color-lecture-background);
    .daily-schedule-item__type {
      color: var(--color-lecture-accent);
    }
  }

  &_another {
    background-color: var(--color-another-background);
    .daily-schedule-item__type {
      color: var(--color-another-accent);
    }
  }

  &_is-going {
    &::before {
      content: '';
      @include adaptive-font(xxl);

      position: absolute;
      right: 0;
      top: 0;

      $size: 0.27em;
      width:$size;
      height: $size;

      border-radius: 50%;

      -webkit-animation: radial-pulse 1s infinite;
      animation: radial-pulse 1s infinite;
    }
  }
}

.daily-schedule-item.daily-schedule-item_laboratory-work.daily-schedule-item_is-going {
  &::before {
    color: var(--color-laboratory-work-shadow);
    background-color: var(--color-laboratory-work-accent);
  }
}

.daily-schedule-item.daily-schedule-item_practice.daily-schedule-item_is-going {
  &::before {
    color: var(--color-practice-shadow);
    background-color: var(--color-practice-accent);
  }
}

.daily-schedule-item.daily-schedule-item_lecture.daily-schedule-item_is-going {
  &::before {
    color: var(--color-lecture-shadow);
    background-color: var(--color-lecture-accent);
  }
}

.daily-schedule-item.daily-schedule-item_another.daily-schedule-item_is-going {
  &::before {
    color: var(--color-another-shadow);
    background-color: var(--color-another-background);
  }
}

@keyframes radial-pulse {
  0% { box-shadow: 0 0 0 0px currentColor; }
  100% { box-shadow: 0 0 0 0.22em var(--color-going-class-pulse) }
}

@media (max-width: 1140px) {
  .daily-schedule-item {
    min-width: auto;

    &_is-going {
      &::before {
        $size: 0.36em;
        width: $size;
        height: $size;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .daily-schedule-item {
    padding: 0.8em 1.2em 1.1em;

    &_is-going {
      &::before {
        $size: 0.4em;
        width: $size;
        height: $size;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .daily-schedule-item {
    border-radius: 15px;

    &__row {
      &:first-child {
        margin-bottom: 1.1em;
      }
    }

    &__info {
      margin-bottom: 0.3em;
    }

    &_is-going {
      &::before {
        $size: 0.4em;
        width: $size;
        height: $size;

        right: -2px;
        top: -2px;
      }
    }
  }
}