.daily-schedule-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 480px;
  padding: 1.2em 2.8em 1.5em;
  border-radius: 27px;
}
.daily-schedule-item__row:first-child {
  margin-bottom: 1.28em;
  flex-wrap: wrap;
}
.daily-schedule-item__subject {
  font-size: calc(17px + 7 * ((100vw - 320px) / 1600));
  font-weight: 600;
  line-height: 1.275em;
}
.daily-schedule-item__info {
  display: flex;
  margin-bottom: 0.8em;
}
.daily-schedule-item__time, .daily-schedule-item__auditorium, .daily-schedule-item__teacher {
  display: flex;
  align-items: center;
  font-size: calc(13.5px + 2.5 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 1.66em;
  color: var(--color-class-info);
}
.daily-schedule-item__time svg, .daily-schedule-item__auditorium svg, .daily-schedule-item__teacher svg {
  margin-right: 7px;
}
.daily-schedule-item__type {
  font-size: calc(13.5px + 2.5 * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 1.66em;
  line-height: 1em;
}
.daily-schedule-item__auditorium svg {
  margin-bottom: 2px;
}
.daily-schedule-item__time svg, .daily-schedule-item__teacher svg {
  margin-bottom: 1px;
}
.daily-schedule-item__time {
  margin-right: 1.48em;
}
.daily-schedule-item_laboratory-work {
  background-color: var(--color-laboratory-work-background);
}
.daily-schedule-item_laboratory-work .daily-schedule-item__type {
  color: var(--color-laboratory-work-accent);
}
.daily-schedule-item_practice {
  background-color: var(--color-practice-background);
}
.daily-schedule-item_practice .daily-schedule-item__type {
  color: var(--color-practice-accent);
}
.daily-schedule-item_lecture {
  background-color: var(--color-lecture-background);
}
.daily-schedule-item_lecture .daily-schedule-item__type {
  color: var(--color-lecture-accent);
}
.daily-schedule-item_another {
  background-color: var(--color-another-background);
}
.daily-schedule-item_another .daily-schedule-item__type {
  color: var(--color-another-accent);
}
.daily-schedule-item_is-going::before {
  content: "";
  font-size: calc(30px + 34 * ((100vw - 320px) / 1600));
  font-weight: 600;
  line-height: 1.1809375em;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.27em;
  height: 0.27em;
  border-radius: 50%;
  -webkit-animation: radial-pulse 1s infinite;
  animation: radial-pulse 1s infinite;
}

.daily-schedule-item.daily-schedule-item_laboratory-work.daily-schedule-item_is-going::before {
  color: var(--color-laboratory-work-shadow);
  background-color: var(--color-laboratory-work-accent);
}

.daily-schedule-item.daily-schedule-item_practice.daily-schedule-item_is-going::before {
  color: var(--color-practice-shadow);
  background-color: var(--color-practice-accent);
}

.daily-schedule-item.daily-schedule-item_lecture.daily-schedule-item_is-going::before {
  color: var(--color-lecture-shadow);
  background-color: var(--color-lecture-accent);
}

.daily-schedule-item.daily-schedule-item_another.daily-schedule-item_is-going::before {
  color: var(--color-another-shadow);
  background-color: var(--color-another-accent);
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px currentColor;
  }
  100% {
    box-shadow: 0 0 0 0.22em var(--color-going-class-pulse);
  }
}
@media (max-width: 1140px) {
  .daily-schedule-item {
    min-width: auto;
    padding: 1.2em 2.27em;
    border-radius: 20px;
  }
  .daily-schedule-item_is-going::before {
    width: 0.36em;
    height: 0.36em;
  }
}
@media (max-width: 767.98px) {
  .daily-schedule-item {
    padding: 1.2em 1.8em;
  }
  .daily-schedule-item_is-going::before {
    width: 0.4em;
    height: 0.4em;
  }
}
@media (max-width: 575.98px) {
  .daily-schedule-item {
    padding: 0.7em 1.1em 0.9em;
    border-radius: 15px;
  }
  .daily-schedule-item__row:first-child {
    margin-bottom: 0.8em;
  }
  .daily-schedule-item__info {
    margin-bottom: 0.1em;
  }
  .daily-schedule-item_is-going::before {
    width: 0.4em;
    height: 0.4em;
    right: -2px;
    top: -2px;
  }
}

/*# sourceMappingURL=daily-schedule-item.css.map */
