@import "../../styles/mixins";


.daily-schedule-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 480px;

  padding: 1.5em 3.27em;

  border-radius: 27px;

  &__row {
    &:first-child {
      margin-bottom: 1.48em;
    }
  }

  &__subject {
    @include adaptive-font(l);
  }

  &__info {
    display: flex;
    margin-bottom: 0.8em;
  }

  &__time, &__auditorium, &__teacher {
    display: flex;
    align-items: center;

    @include adaptive-font(xs);
    font-weight: 400;

    color: var(--dark-gray);

    svg {
      margin-right: 7px;
    }
  }

  &__auditorium {
    svg {
      margin-bottom: 2px;
    }
  }

  &__time, &__teacher {
    svg {
      margin-bottom: 1px;
    }
  }

  &__time {
    margin-right: 1.48em;
  }

  &_laboratory-work {
    background-color: var(--light-green);
    .daily-schedule-item__type {
      color: var(--dark-green);
    }
  }

  &_practice {
    background-color: var(--light-pink);
    .daily-schedule-item__type {
      color: var(--dark-pink);
    }
  }

  &_lecture {
    background-color: var(--light-blue);
    .daily-schedule-item__type {
      color: var(--dark-blue);
    }
  }

  &_another {
    background-color: var(--light-ginger);
    .daily-schedule-item__type {
      color: var(--dark-ginger);
    }
  }
}

@media (max-width: 1140px) {
  .daily-schedule-item {
    min-width: auto;
  }
}

@media (max-width: 767.98px) {
  .daily-schedule-item {
    padding: 0.8em 1.2em 1.1em;
  }
}

@media (max-width: 575.98px) {
  .daily-schedule-item {
    border-radius: 15px;

    &__row {
      &:first-child {
        margin-bottom: 1.1em;
      }
    }
  }

  .daily-schedule-item {
    &__info {
      margin-bottom: 0.3em;
    }
  }
}